<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main><%
        
        for( let prop in prods ){
            //console.log( prods[prop].category );
        }
        %>
        <% if (prods.length > 0 ) { %>
            <div class="grid">
                <% for (let i in prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= prods[i].category %></h1>
                        </header>
                        <!-- <div class="card__image">
                            <a href=<%= prods[i].contact %>><%= prods[i].contact %></a>
                        </div> -->
                        <div class="card__content">
                            <h2 class="product__price"><%= prods[i].nameoftheorganisation %></h2>
                            <p class="product__description"><%= prods[i].city %></p>
                            <p class="product__description"><%= prods[i].state %></p>
                            <p class="product__description"><%= prods[i].phonenumber %></p>
                        </div>
                        <div class="card__actions">
                            <!-- <button class="btn"><%= prods[i].contact %></button> -->
                            <button class="btn"><a target= "#" href=<%= prods[i].contact %> > <%= prods[i].contact %></a> </button>
                            <!-- <a target= "#" href=<%= prods[i].contact %> class="btn"><%= prods[i].contact %></a>  -->

                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>